<p>
  <label for="question" class="rem"><strong>Question: </strong></label>
  <%if(newQuestion){%>
    <input type="text" name="quiz[question]" placeholder="New question">
  <%}else{%>
    <input type="text" name="quiz[question]" value="<%= (quiz.question || "") %>">
  <%}%>
</p>

<p>
  <label for="theme" class="rem"><strong>Theme: </strong></label>
  <select name="quiz[theme]">
    <option value="Select" <%= varOption.Select%>> Select theme </option>
    <option value="Other" <%= varOption.Other%>> Other </option>
    <option value="Geography" <%= varOption.Geography%>> Geography </option>
    <option value="Humanities" <%= varOption.Humanities%>> Humanities </option>
    <option value="Leisure" <%= varOption.Leisure%>> Leisure </option>
    <option value="Science" <%= varOption.Science%>> Science </option>
    <option value="Technology" <%= varOption.Technology%>> Technology </option>
  </select>
</p>

<p>
  <label for="answer" class="rem"><strong>Answer: </strong></label>
    <%if(newQuestion){%>
      <input type="text" name="quiz[answer]" placeholder="New Answer">
    <%}else{%>
      <input type="text" name="quiz[answer]" value="<%= (quiz.answer || "") %>">
    <%}%>
</p>

<p>
  <label for="image" class="rem"><strong>Image: </strong></label>
  <% if(quiz.image && quiz.image !== "none"){ %>
        <p><img src="/media/<%= quiz.image %>"></p>
        <input type="checkbox" name="box_rmimg"> With NO Image<br>
  <% } %>
  <strong>New Image:</strong><input type="file" accept="image/*" name="image" onchange="this.form.submit()">
</p>

<p>
  <a href="/quizes"><button type="button">Cancel</button></a>
  <input type="submit" value="Save">
</p>
