<p>
  <% if(myquestions){%>
    <form method="get" action="/user/<%=session.user.id%>/quizes">
    <input type="text" name="search" placeholder="Search in your questions"/>
  <% }else{ %>
    <form method="get" action="/quizes">
      <input type="text" name="search" placeholder="Search" />
  <% } %>
      <select name="theme">
        <option value="all" selected> Theme</option>
        <option value="Other">Other</option>
        <option value="Geography">Geography</option>
        <option value="Humanities">Humanidades</option>
        <option value="Leisure">Leisure</option>
        <option value="Science">Science</option>
        <option value="Technology">Technology</option>
      </select>
      <input type="submit" value="Search" />
    </form>
</p>

<p>
  <table>
    <% var i;for(i=0; i<quizes.length; i++){ %>
      <tr>
        <td>
          <a href="/quizes/<%= quizes[i].id %>">
            <%= quizes[i].question %></a>
        </td>
        <td>
          <strong>Theme: </strong><%= quizes[i].theme %>
        </td>
        <% if(session.user){%>
          <% if(session.user.isAdmin || (session.user.id === quizes[i].UserId)){%>
            <td>
              <a href="/quizes/<%= quizes[i].id %>/edit">
                <button>Edit</button></a>
            </td>
            <td>
              <form method="post"
                action="/quizes/<%= quizes[i].id %>?_method=delete">
                  <button type="submit"
                    onClick="return confirm('Delete: <%= quizes[i].question %>');">
                    Delete
                  </button>
              </form>
            </td>
          <% } %>
        <% } %>
      </tr>
    <% } %>
  </table>
</p>

<% if(session.user){%>
  <p>
    <a href="/quizes/new"><button type="button">Create a Question</button></a>
  </p>
<% } %>
