<p>
  <table>
    <% var i;for(i=0; i<quizes.length; i++){ %>
      <tr>
        <td>
          <a href="/quizes/<%= quizes[i].id %>">
            <%= quizes[i].question %></a>
        </td>
        <% if(session.user){%>
          <% if(session.user.isAdmin || (session.user.id === quizes[i].UserId)){%>
            <td>
              <a href="/quizes/<%= quizes[i].id %>/edit">
                <button>Edit</button></a>
            </td>
            <td>
              <form method="post"
                action="/quizes/<%= quizes[i].id %>?_method=delete">
                  <button type="submit"
                    onClick="return confirm('Delete: <%= quizes[i].question %>');">
                    Delete
                  </button>
              </form>
            </td>
          <% } %>
        <% } %>
      </tr>
    <% } %>
  </table>
</p>

<% if(session.user){%>
  <p>
    <a href="/quizes/new"><button type="button">Create a Question</button></a>
  </p>
<% } %>
