<% if(quiz.image){ %>
      <p><img class="qimage" src="/media/<%= quiz.image %>"></p>
<% } %>

<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p><strong>Question: <%= quiz.question %></strong></p>
  <p><input type='text' name='answer' placeholder='Your answer'>
  <input type='submit' value='Check'></p>
</form>

<p>
  <a href="/quizes/<%= quiz.id %>/comments/new">
    <button>New Comment</button>
  </a>
</p>

<p><strong>Coments:</strong></p>
<% for(index in quiz.Comments){ %>
  <% if(quiz.Comments[index].published){ %>
    <p>&#9998;<%= quiz.Comments[index].text %></p>
  <% }else{ %>
    <% if(session.user && (session.user.isAdmin || (session.user && (quiz.UserId === session.user.id)))){%>
      <p>&#x2713;<%= quiz.Comments[index].text %>
      <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id%>/publish">
        <button>Release</button></a>
      </p>
    <% } %>
  <% } %>
<% } %>
