<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Question: <%= quiz.question %>
  <input type='text' name='answer' placeholder='Your answer' autofocus required >
  <input type='submit' value='Check'></p>
</form>

<p>
  <a href="/quizes/<%= quiz.id %>/comments/new">
    <button>New Comment</button>
  </a>
</p>

<p><strong>Coments:</strong></p>
<% for(index in quiz.Comments){ %>
  <% if(quiz.Comments[index].published || session.user){ %>
    <p>&#9998;<%= quiz.Comments[index].text %>
    <% if(session.user && !quiz.Comments[index].published){ %>
      <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id%>/publish">
        <button>Release</button>
    <%}%>
    </p>
  <% } %>
<% } %>
